In [21]:
import pandas as pd

# Ruta
ruta = "/Users/quique/Desktop/mlops-trading-tfg/data/raw/AAPL.csv"

# 1. Leer saltando 2 filas (elimina encabezados)
df = pd.read_csv(ruta, skiprows=2, header=None)

# 2. Poner nombres manualmente
df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']

# 3. Convertir Date a datetime y poner como √çNDICE
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')

# Mostrar
print(df.head())
print(f"\n‚úÖ Datos listos para an√°lisis temporal")
print(f"Filas: {len(df)}")
print(f"Columnas: {df.columns.tolist()}")
print(f"Rango: {df.index[0].date()} a {df.index[-1].date()}")

# Ejemplo de ventajas del √≠ndice:
print(f"\nüìÖ Ejemplo - Filtro por a√±o 2020:")
print(df.loc['2020'].head())

                Open      High       Low     Close     Volume
Date
1980-12-12  0.098389  0.098817  0.098389  0.098389  469033600
1980-12-15  0.093684  0.093684  0.093256  0.093256  175884800
1980-12-16  0.086839  0.086839  0.086412  0.086412  105728000
1980-12-17  0.088550  0.088978  0.088550  0.088550   86441600
1980-12-18  0.091118  0.091545  0.091118  0.091118   73449600

‚úÖ Datos listos para an√°lisis temporal
Filas: 11343
Columnas: ['Open', 'High', 'Low', 'Close', 'Volume']
Rango: 1980-12-12 a 2025-12-12

üìÖ Ejemplo - Filtro por a√±o 2020:
                 Open       High        Low      Close     Volume
Date
2020-01-02  71.476600  72.528582  71.223259  72.468262  135480400
2020-01-03  71.696167  72.523754  71.539337  71.763725  146322800
2020-01-06  70.885457  72.374146  70.634524  72.335541  118387200
2020-01-07  72.345204  72.600960  71.775789  71.995354  108872000
2020-01-08  71.698589  73.455103  71.698589  73.153503  132079200

In [22]:
df.head()

                Open      High       Low     Close     Volume
Date
1980-12-12  0.098389  0.098817  0.098389  0.098389  469033600
1980-12-15  0.093684  0.093684  0.093256  0.093256  175884800
1980-12-16  0.086839  0.086839  0.086412  0.086412  105728000
1980-12-17  0.088550  0.088978  0.088550  0.088550   86441600
1980-12-18  0.091118  0.091545  0.091118  0.091118   73449600